body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
header,footer {
    background-color: skyblue;
}
.site-title {
    color: lavender
}

ul {
    list-style-type: square;
}