body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b2d3cf;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: white;
}
main {
    background-color: #d8e8e7;
}
nav {
    text-transform: uppercase;
}

.container {
    border-style: solid;
    border-width: regular;
}

footer {
    text-align: right;
}