body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #b2d3cf;
}
h1, h2, h3 {
    font-weight: normal;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: white;
    font-size: 2.5rem;
}
main {
    background-color: #d8e8e7;
}
#navbar li {
    text-transform: uppercase;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
}
#facts ul {
    list-style-position: inside;
    padding-left: 0;
}
.container {
    padding: 20px;
    margin: 15px;
    border-style: solid;
    border-width: regular;
}
button {
    background-color: #d8e8e7;
    text-transform: uppercase;
    border: 1px solid;
    margin-top: 12px;
    padding: 12px 15px;
}
footer {
    text-align: right;
}