/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of CSS reset code */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

header {
    background-color: #222;
    margin: auto;
    width: 50%;
    display: block;
}

img.logo, .home_nav {
    background-color: #c78c06;
}

button {
    margin-left: 3%;
    display: block;

}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    margin: auto;
    width: 95%;
    background-color: #222;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
    margin: auto;
    width: 95%;
}

h3 {
    font-size: 1.7rem;
    font-weight: bolder;
    margin: auto;
    width: 95%;
}

h4 {
    margin: auto;
    width: 50%;
}

p {
    margin: auto;
    width: 95%;
}

form {
    margin: auto;
    width: 50%;
}

nav {
    background-color: #222;
    padding: 60px;
    text-align: center;
}

nav .home_nav {
    background-color: #c78c06;
}

.search {
    background-color: #222;
}

.wrapper {
    align-items: center;
}

.header-banner {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 50%;
    background-color: #222;
    color: white;
}

img.about_img {
    display: block;
    margin: auto;
    width: 50%;
}

.about-us {
    background-color: #ffe6ac;
    margin: auto;
    width: 50%;
}

.services {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
}

img.digital_img {
    display: block;
    margin: auto;
    width: 50%;
}

.digital-transformation {
    background-color: #ffe6ac;
    margin: auto;
    width: 50%;
}

img.marketing_img {
    display: block;
    margin: auto;
    width: 50%;
}

.marketing {
    background-color: #ffe6ac;
    margin: auto;
    width: 50%;
}

img.video_img {
    display: block;
    margin: auto;
    width: 50%;
}

.video-production {
    background-color: #ffe6ac;
    margin: auto;
    width: 50%;
}

img.web_img {
    display: block;
    margin: auto;
    width: 50%;
}

.web-development {
    background-color: #ffe6ac;
    margin: auto;
    width: 50%;
}

img.print_img {
    display: block;
    margin: auto;
    width: 50%;
}

.print {
    background-color: #ffe6ac;
    margin: auto;
    width: 50%;
}

img.vision_img {
    display: block;
    margin: auto;
    width: 50%;
}

img.john_img {
    display: block;
    margin: auto;
    width: 50%;
}

.john {
    background-color: #ffe6ac;
    margin: auto;
    width: 50%;
}

img.bob_img {
    display: block;
    margin: auto;
    width: 50%;
}

.bob {
    background-color: #ffe6ac;
    margin: auto;
    width: 50%;
}

table {
    margin: auto;
    width: 50%;
}

th {
    background-color: #ffe6ac;
    margin: auto;
    width: 50%;
}

.map {
    margin: auto;
    width: 50%;
}

footer {
    background-color: #222;
    color: #ffe6ac;
}